{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div class="col-12 col-xl-12">
    <div class="card">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:40%;">ID</th>
                    <th style="width:40%;">Company name</th>
                    <th style="width:40%;">Email id</th>
                    <th style="width:40%;">Password</th>
                    <th style="width:40%;">Contact no</th>
                    <th style="width:50%;">Address</th>
                    <th style="width:40%;">About_company</th>
                    <th style="width:50%;">Owner_name</th>
                    <th style="width:20%;">Registration date</th>
                    <th style="width:40%;">Login id</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Creart</td>
                    <td>creart@gmail.com</td>
                    <td>study@creart</td>
                    <td>9962578541</td>
                    <td>Horizon building</td>
                    <td>IT solution company</td>
                    <td>Alkesh kaba</td>
                    <td>12-12-2022</td>
                    <td>13</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}