
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodersHub - User Report</title>
    <style>
        h1 {
          text-align: center;
          font-size: 24px;
        }
        td, th {
          text-align: center;
        }
      </style>
</head>
<body>
  <img src="http://localhost/contact/logo.png" alt="" style="height: 150px; width: 200px">
     <hr/>
      <h1 style="text-decoration: underline;">List of Users</h1>
      <h3>Report Created On : 13/01/2024</h3>
      <table border="1" align="center" cellpadding="5" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          
            <th>Contact</th>
            <th>Address</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
              <td>1 </td>
              <td>Mishra </td>
              <td>mishra.varun@email.com </td>
             
              <td>8421545454</td>
              <td>25 block e narayannagar satellite ahmedabad gujarat 382100</td>
              <td>March 1, 2023</td>
            </tr>
          
            <tr>
              <td>2 </td>
              <td>Thomas </td>
              <td>harsh.creart@gmail.com  </td>
             
              <td>8454545454</td>
              <td>80-a vidhya nagar c.g road surat gujarat 300084</td>
              <td>March 1, 2023</td>
            </tr>
          
            <tr>
              <td>3 </td>
              <td>Harry </td>
              <td>Nelson@gmail.com </td>
             
              <td>9898578490</td>
              <td>25-d  laxminarayan society s g highway ahmedabad gujarat 382110</td>
              <td>March 16, 2023</td>
            </tr>
          
            <tr>
              <td>4 </td>
              <td>Sarah </td>
              <td>Sarah@gmail.com </td>
             
              <td>9977834512</td>
              <td>12 b block sagar cooprative society rajkot gujarat 325145</td>
              <td>March 1, 2023</td>
            </tr>
          
            <tr>
              <td>5 </td>
              <td>Vickey </td>
              <td>hixchampaign@gmail.com </td>
             
              <td>2173280328</td>
              <td>15 E Ohio St, Chicago, IL 60611, United States</td>
              <td>March 4, 2023</td>
            </tr>
          
            <tr>
              <td>6 </td>
              <td>Harsh </td>
              <td>harshrupani1999@gmail.com </td>
             
              <td>918160468402</td>
              <td>70 SAKAR SPARSH BAVLA ROAD SANAND AHMEDABAD , GUJARAT</td>
              <td>March 10, 2023</td>
            </tr>
          
            <tr>
              <td>7 </td>
              <td>keerthana </td>
              <td>keerthana_porchezhiyan5@gmail.com </td>
             
              <td>886268610</td>
              <td>3ryur736</td>
              <td>March 10, 2023</td>
            </tr>
          
            <tr>
              <td>8 </td>
              <td>Vijay </td>
              <td>harsh.creart@gmail.com </td>
             
              <td>918160468402</td>
              <td>56 SAKAR SPARSH BAVLA ROAD SANAND AHMEDABAD , GUJARAT</td>
              <td>March 11, 2023</td>
            </tr>
          
            <tr>
              <td>9 </td>
              <td>Heena </td>
              <td>heenay2002@gmail.com </td>
             
              <td>9106334166</td>
              <td>vejalpur block 10 ahmedabad gujarat 385412</td>
              <td>March 11, 2023</td>
            </tr>
          
            <tr>
              <td>10 </td>
              <td>HarshR </td>
              <td>harshrupani1999@gmail.com </td>
             
              <td>9558123157</td>
              <td>70 SAKAR SPARSH BAVLA ROAD SANAND AHMEDABAD , GUJARAT</td>
              <td>March 17, 2023</td>
            </tr>
          
            <tr>
              <td>11 </td>
              <td>Parul12 </td>
              <td>harshrupani1999@gmail.com </td>
             
              <td>8145457485</td>
              <td>ahmedabad</td>
              <td>April 25, 2023</td>
            </tr>
          
            <tr>
              <td>12 </td>
              <td>Harsh007 </td>
              <td>harshrupani1999@gmail.com </td>
             
              <td>8160468402</td>
              <td>abc</td>
              <td>Dec. 1, 2023</td>
            </tr>
          
            <tr>
              <td>13 </td>
              <td>Ronak07 </td>
              <td>ronakjha1975@gmail.com </td>
             
              <td>985641235</td>
              <td>abc</td>
              <td>Dec. 13, 2023</td>
            </tr>
          
            <tr>
              <td>14 </td>
              <td>Harsh08 </td>
              <td>harsh.creart@gmail.com </td>
             
              <td>989852574</td>
              <td>xyz</td>
              <td>Dec. 21, 2023</td>
            </tr>
              
        </tbody>
      </table>
</body>
</html>