{% load static %}
<div class="main-banner" style="background-image:url('{% static "user/img/banner-1.jpg" %}');" data-overlay="4">
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="caption text-center cl-white">
                <h2>Find Your Career With Us. You Deserve it.</h2>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="cmp-overview">
                        <div class="cmp-icon">
                            <i class="cmp-i icon-profile-male"></i>
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="cmp-detail">
                            <h3>10 </h3>
                            <span>Active Workers</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmp-overview">
                        <div class="cmp-icon">
                            <i class="cmp-i icon-desktop"></i>
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="cmp-detail">
                            <h3> 1</h3>
                            <span>Companies</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="cmp-overview">
                        <div class="cmp-icon">
                            <i class="cmp-i icon-global"></i>
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="cmp-detail">
                            <h3>1</h3>
                            <span>Countries</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>