<footer class="footer footer text-center text-lg-start bg-white text-muted">
    <div class="container-fluid text-center text-md-start mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h2 class="text-uppercase fw-bold mb-4">
                    <a href="/user/dashboard/" style="font-family: Broadway;">Coder's</a> <a href="" style="color:red;">Hub</a>
                </h2><br>
                <p style="font-size: 15px; font-weight: 500;">
                    Coder’s Hub is a Web Application which is the combination of discussion forum where user from the It field can post their project related queries from different technology with screenshot and get solution from others.
                </p>
                <div class="f-social-box">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook facebook-cl"></i></a></li>
                        <li><a href="#"><i class="fa fa-google google-plus-cl"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter twitter-cl"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest pinterest-cl"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram instagram-cl"></i></a></li>
                    </ul>
                </div>
                <div class="f-app-box">
                    <ul>
                        <li><a href="#"><i class="fa fa-apple"></i>App Store</a></li>
                        <li><a href="#"><i class="fa fa-android"></i>Play Store</a></li>
                    </ul>
                </div>
            </div>
            <div class="center col-lg-4 col-md-3 mr-5">
                <h3 class="text-uppercase">Our Services</h3><br>
                <ul class="text-center">
                    <li>
                        <a href="/user/dashboard/" class="fa fa-angle-double-right"> Home</a>
                    </li>
                    <li>
                        <a href="/user/about_us/" class="fa fa-angle-double-right"> About Us</a>
                    </li>
                    <li>
                        <a href="" class="fa fa-angle-double-right"> Services </a>
                    </li>
                    <li>
                        <a href="/user/feedback/" class="fa fa-angle-double-right"> Post Feedback</a>
                    </li>
                    <li>
                        <a href="/user/contact_us/" class="fa fa-angle-double-right"> Contact us</a>
                    </li>
                </ul>
            </div>
            <div class="center col-lg-4 col-md-3 mb-3 mb-md-0">
                <h3 class="text-uppercase">Contact us</h3><br>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#" class="fa fa-phone"> +91 81604 68402</a>
                    </li>
                    <li>
                        <a href="#!" class="fa fa-envelope"> codershub@gmail.com</a>
                    </li>
                    <li>
                        <a href="#!" class="fa fa-map-marker"> 25,Heritage Horizon,Opp Hotel Dev Corporate, OFF C.G., C.G.Road, Umashankar Joshi Marg, Vasant Vihar, Navrangpura, Ahmedabad, Gujarat 380009</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="below-section">
        <div class="container">
            <div class="copyright-footer">
                <div class="columns text-lg-left">
                    <p style="font-size:15px;">© 2023 Coder's Hub. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>