{% extends 'myadmin/common/layout.html' %}
{% block content %} <h3>&nbsp;&nbsp;&nbsp;Company details</h3>
<br>
<div class="col-12 col-xl-12">
    <form method="post" action="/myadmin/details_company/{{result.id}}">
        <div class="card">
            <table class="table table-striped table-bordered">
                <tr>
                    <td>ID</td>
                    <td>{{result.id}}</td>
                </tr>
                <tr>
                    <td>Company name</td>
                    <td>{{result.user.first_name}}</td>
                </tr>
                <tr>
                    <td>Owner name</td>
                    <td>{{result.user.last_name}}</td>
                </tr>
                <tr>
                    <td>Email id</td>
                    <td>{{result.user.email}}</td>
                </tr>
                <tr>
                    <td>Contact</td>
                    <td>{{result.phone_number}}</td>
                </tr>
                <tr>
                    <td>About Company</td>
                    <td>{{result.about_company}}</td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>{{result.user.password}}</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td> {{result.address}}</td>
                </tr>
                <tr>
                    <td>User id</td>
                    <td>{{result.user_id}}</td>
                </tr>
            </table>
        </div>
</div>
{% endblock %}