{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div class="col-12 col-xl-12">
    <div class="card">
        <form action="" method="post" style="text-align: center;">
                        {% csrf_token %}
                        Form:-<input type="date" name="from_date" id="from_date" class="mydate" value="{{f}}" autocomplete="off">
                        &nbsp;&nbsp;
                        to:-<input type="date" name="to_date" id="to_date" style="width:50px:" class="mydate" value="{{t}}" autocomplete="off">
                        &nbsp;&nbsp;
                       <input type="submit" id="submit" name="submit" value="Search" class="btn btn-primary" required>
                       <a href="/myadmin/pdf3/" class="btn btn-primary">Export</a>

                       
    </form>
        <table class="table table-striped table-hover">
            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Contact Number</th>
                                    <th>Message</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for users in user %}
                                <tr>
                                  <td>{{users.id}}</td>
                                  <td>{{users.name}}</td>
                                  <td>{{users.email}}</td>
                                  <td>{{users.phone_no}}</td>
                                  <td>{{users.message }}</td>
                                  <td>{{users.date}}</td>
                                 
                                </tr>
                                {% endfor %}
                            </tbody>
        </table>
    </div>
    <!-- <div class="md" style="float:right">
    <button class="btn btn-primary"><a href="/myadmin/pdf_report_user" style="color:white" ;>create pdf</a></button>
</div> -->
</div>
{% endblock %}